@charset "utf-8";
/* CSS Document */

body{margin:0 0;padding:0 0;background:#f6f4a8;font-family:'微软雅黑'}

.main-bg{width:100%;max-width:1920px;min-width:375px; height:2100px;display:block;margin:0 auto;background:url("../images/SinglePage.jpg") no-repeat center center;padding-top:1338px;background-size:cover;}

.btn-block{width:820px;height:80px;display:block;margin:0 auto;}
.btn{width:400px;height:80px;border-radius:10px;float:left; background:black;color:white;text-align:center;line-height:80px;font-size:30px;letter-spacing:1px;text-decoration:none;}
.btn.red{background:#c23838;box-shadow: 0px 6px 0px 0px rgba(137, 47, 47, 1);}
.btn.blue{background:#387fc2;box-shadow: 0px 6px 0px 0px rgba(36, 90, 140, 1);}

